@page "/users"

<PageTitle>Users</PageTitle>

<div class="container">

    <div class="first-div">

        <div class="div1">
            <h1>Users</h1>
            <p>Manage users and roles</p>
        </div>
        
         <img src="/Images/user-mgmt.jpg" />
    </div>

</div>

@code {

}
