.container {
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 8px;
}

.first-div{
    display: flex;
    flex-direction:row;
    padding: 8px;
    height: 350px;
}
    .first-div img {
        width: auto;
        height: 100%;
        border-radius: 8px;
        object-fit: contain;
    }

.div1{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding: 8px;
}
  