@page "/venues"
@rendermode InteractiveAuto
@attribute [StreamRendering]

@using RSAllies.Client.Contracts

@inject ApiClient ApiClient
@inject NavigationManager NavigationManager

<PageTitle>Venues</PageTitle>

<div class="container">
    
    <div class="div1">
        <h3>Venues</h3>
        <FluentAnchor Href="/venues/create-venue">Create Venue</FluentAnchor>
    </div>

    @if(_venues!.Count == 0)
    {
        <FluentProgressRing />
    }
    else
    {
        <FluentGrid>

            @foreach (var venue in _venues!)
            {
                <FluentGridItem xs="4" @onclick="@(() => NavigationManager.NavigateTo($"/venues/venue/{venue.Id}?name={venue.Name}&address={venue.Address}&capacity={venue.Capacity}"))">
                    <FluentCard Style="padding: 8px">
                        <img src="/Images/bg3.jpg" style="width:100%;border-radius:8px;" />
                        <p style="font-family:Bahnschrift">@venue.Name</p>
                        <p style="font-family:Bahnschrift">@venue.Address</p>
                        <p style="font-family:Bahnschrift">@venue.Capacity seats</p>
                    </FluentCard>
                </FluentGridItem>
            }

        </FluentGrid>
    }

</div>

@code {

    List<VenueDto>? _venues = [];

    protected override async Task OnInitializedAsync()
    {
        var venues = await ApiClient.GetVenuesAsync();
        _venues = venues?.Value;
    }

}
