.container {
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 8px;
    scrollbar-width: none;
    overflow: hidden;
}

    .container::-webkit-scrollbar {
        display: none;
    }

.div1{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    border: 10px;
}